# Dipendenze
node_modules
.pnpm-store

# Log e file temporanei
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache

# File di build dell'applicazione
dist
.built

# VARIABILI D'AMBIENTE SEGRETE (Non caricarle MAI su GitHub)
.env
.env.local
.env.production
